<div class= "blockContainer">
    <div class="favoriteactivites"> 
        
        <h1 class="blocktitle">Favorite Activities</h1>
        
            <p class= "blockname"><b>Huong Truong   <br/> 
          		
               Address: 8919 Burt Street, #304 <br/>
               Omaha Ne 68114 <br/>
               Email: httruong@unomaha.edu <br/>
               Phone: (402) 817-8459
            </b></p>
            <p class= "blockheader">Building Software</p>
            
            <p class= "blockheader">Veggie Food Give Away Program</p>
                
            <p class= "blockheader1">@ Purpose</p>
                <p class= "blocktext">* Encourage people to eat food from vegetables by giving vegetarian food for free</p>
            <p class= "blockheader1">@ Why should we eat foods from vegetables rather than meat foods?</p>
                <p class= "blocktext">* Healthy veggie food can save your life, save the living costs and the medical costs for your family</p>
                <p class= "blocktext">* Avoiding killing and abusing animal in the farm and food meat industries</p>
                <p class= "blocktext">* Reducing the climate change by reducing the global greenhouse gas emissions</p>
                <p class= "blocktext1"><a href="http://time.com/4266874/vegetarian-diet-climate-change/" target="_blank">Save Your Life And Save The World</a></p>
            <p class= "blockheader1">@ Recent activities of vegetarian food give away program</p>
                <p class= "blocktext">* First Event on June 17th, 2017 </p>
           
            <div class="flex-container">
              <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/IMG_3714_zpstasdwku0.jpg" title= "The first Ready Box" height="100" width="100">     </div>        
              <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/IMG_3713_zps3zf5ay5q.jpg" title= "The first Preparation Box" height="100" width="100"> </div> 
              <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/IMG_3709_zpsdl8kzeyl.jpg" title= "Steamed Tofu " height="100" width="100">     </div>

            </div>
            
                <p class= "blocktext">* Second Event on July 8th, 2017 </p>
               
            <div class="flex-container">
                  
              <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/Comfreedot2mam_zpsyvuve0bs.jpg" title= "Ready Food" height="100" width="100"></div>        
              <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/Comfreedot2_zpsccgyo4fs.jpg" title= "The Second Ready Box" height="100" width="100"> </div> 
              <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/Comfreedot2hop_zpsw18pg5kw.jpg" title= "The Second Delivery " height="100" width="100"> </div>
 
            </div>
            
            <p class= "blocktext">* Third Event on July 14th, 2017 </p>
               
            <div class="flex-container">
                  
               <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/Mobile%20Uploads/246FE69B-C0FA-409D-ABD7-8EC0DD9CE47C_zpshpke2xdo.jpg" title= "The Third Ready Box " height="100" width="100"> </div>
               <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/bun-bi_zpsee7254zl.jpg" title= "The Third Veggie Food" height="100" width="100"> </div>
               <div class="flex-item"><img src="http://i1262.photobucket.com/albums/ii608/binhanlotus78/Veggie-heart_zpsbrabfdxe.jpg" title= "The Healthy Veggie Food" height="100" width="100"> </div>
            </div>
            <p class= "blockname"><a href="../welcome/index.html" target="_blank">Home Page</a></p>
    </div>
</div>