<!--<!DOCTYPE html>
<html>
  <head>
    <title>Introduction</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/ưelcome.scss">
  </head>
  <body>-->
  	<div class="container">
  		<h1>Huong Truong</h1>
  	  <a href="welcome/resume.html.erb" target="_blank">Resume</a>
  	 
  	  <a href="https://en.wikipedia.org/wiki/Brown_bear" target="_blank">The Brown Bear</a>
  	</div>
  <!--</body>
</html>
-->
