<!--<!DOCTYPE html>
<html>
  <head>
    <title>Introduction</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/ưelcome.scss">
  </head>
  <body>-->
  	<div class="container">
  		<h1>Huong Truong</h1>
  	  <a href="welcome/resume.html" target="_blank">Resume</a><br> </br>
  	 
  	  <a href="file/UnofficialTranscript.zip" target="_blank">UNO Transcript</a> <br> </br>
  	 
  	  <a href="welcome/favor_activities" target="_blank">Favorite Activities</a> <br> </br>
  	  
  	  
  	</div>
  <!--</body>
</html>
-->