
<div class="resume">  
  	<h1 class= "blockTitle">Resume</h1>
  	<div class="blockContainer1">
    <p class= "blockText2">Huong Truong   <br/> 
  		
       Address: 8919 Burt Street, #304 <br/>
       Omaha Ne 68114 <br/>
       Email: httruong@unomaha.edu <br/>
       Phone: (402) 817-8459
    </p>
    </div>                                                                                           
    <div class="blockContainer1">
            
        <p class="blockHeader1"> SUMMARY OF QUALIFICATIONS</p>
       
        <p class="blockText1">• Proficient in Microsoft Office products including Word, Excel, PowerPoint, and Access </p>
        <p class="blockText1">• Strong ability to quickly adapt to new and evolving technologies </p>
        <p class="blockText1">• Strong background in Relational Database or programming SQL, Java, C, C-Sharp, Python </p>
    </div>
    
    <div class="blockContainer">
        
        <p class="blockHeader">CORE COMPETENCIES</p>
        <p class="blockText">Programming Languages: SQL, Java, C, Python, C#, HTML, CSS and Ruby</p>

            <pre> 
                    INTERGRATED DEVELOPMENT ENVIRONMENTS (IDE):

                       Microsoft Management Studio (SQL)                        Cloud9
                       NetBeans IDE 8.0				                Eclipse, Eclipse Plug in Application (Java)
                       Putty 				                        BlueJ 
                       Visual Studio 2012	                                Pycharm					

                    OTHER FRAMEWORKS, CROSS PLATFORM AND OPEN SOURCE SOFTWARES:
            
                       SVN					                 PowerShell
                       Github, Git				                 WinSCP	
                       Ruby on Rails, Heroku		            	         Unity, Blender working with C-Sharp
            </pre>
    </div>
    <div class="blockContainer">
        
        <p class="blockHeader">EDUCATION</p>

        <p class="blockText">* Duy Tan University, Da Nang, Viet Nam<br/>
          Bachelor Degree in Accounting (2001-2005)</p>
        <p class="blockText">* Southeast Community College, Lincoln, NE and<br/>
          Metropolitan Community College, Omaha, NE<br/>
          Computer Information Technology (January 2014-December 2015)<br/>
        <p class="blockText">* University of Nebraska at Omaha, Omaha, NE <br/>
          Bachelor of Science in Computer Science (Spring 20-2016 – July 2018) – GPA 3.497</p>

        <p class="blockHeader">EXPERIENCE</p>
        <p class="blockText">Student Worker  <br/>   Jan. 2017 - Present <br/>
        Peter Kiewit Institute College of Information Science and Technology- University of Nebraska at Omaha<br/>
            • Work for the research lab under Dr. Brian Ricks (Computer Science Department) on building models in 
            Blender and coding on C# using Unity 3D for Dr. Ricks’ research program with crowd simulation.<br/>
            • Assist Dr. Farhat in organizing the grading system, grading and tutor the student in answering their
            questions; helping them to prepare for the Digital Design’s exams as needed. <br> </br>
        </p>
        <p class="blockText">Quality Control - Inspector	<br/> Mar. 2010 – May 2014<br/>
        Molex Incorporated, (1400 W Bond Cir, Lincoln, NE 68521)<br/>
           • Inspected parts and component assemblies of finished products, for compliance with blueprint specifications,
           using precision measuring instruments; examining parts for scratches, and casting flaws.<br/>
           • Documented inspection results by completing reports and logs; summarizing re-work and waste; 
           inputting data into quality database.
        </p>
    </div>
    <p class= "blocklink"><a href="index">Home Page</a></p>

    
</div>
