<!DOCTYPE html>
<html>
<head>
  <title>Introduction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    h1 { 
    display: block;
    font-size: 3em;
    margin-top: 3em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
